.cardData {
  flex: 1;
  cursor: pointer;
}

.cardData:not(:last-child) {
  margin-right: 10px;
}

.cardData--selected {
  border-top: 10px solid greenyellow;
}

.cardData--red {
  border-color: red;
}

.cardData__cases--green {
  color: lightgreen !important;
}

.cardData__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.cardData__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}